.App {
  text-align: center;
  max-width:400px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color:black;
  color:white;
  height:40px;
}

.mt-10 {
  margin-top : 10px;
}

.mt-20 {
  margin-top : 20px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-8 {
	margin-top: 8px;
}

.mt-80 {
	margin-top: 80px;
}

.mb-40 {
margin-bottom: 40px;
}

.bg-gray {
  background: gray;
}

.bg-black {
  background: black;
}

.main-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  height:400px;  
}

.pl-20 {
  padding-left:20px;
}

.pr-20 {
  padding-right:20px;
}

.pt-20 {
  padding-top:20px;
}

.pt-40 {
  padding-top:40px;
}
.pb-40 {
  padding-bottom:40px;
}

.badge {
  display:flex;
  align-items: center;
  justify-content: space-around;
  border-radius:20px;
  border: 1px solid;
  height:40px;
}

.main-section-2 {
  text-align: left;
}

.main-section-2 .title {
  font-weight: 800;
  font-size: 18px;
}

.main-section-2 .description {
}

.main-section-3 {
	/* display:flex;
	justify-content: space-between; */
}
	