.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
}

.w-30 { 
  width: 30px;
}

.w-80 {
    width: 80px;
}

.h-20 {
  height: 20px;
}

.h-40 {
  height: 40px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.list{
  width: 50px;
  height: 50px;
  background-color: pink;
}

ul ,li{
  list-style: none;
}

header { 
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-top:10px;
  font-size: 14px;
  font-weight: 600;
}

header > div {
  display: flex;
  align-items: center;
}

header .header-badge {
  border-radius: 10px;
  width:30px;
  height:20px;
  font-size: 10px;
  margin-left: 3px;
  border-color:black;
  background-color: rgba(0, 0, 255, 0.5);
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
}

header .header-black-btn {
  border-radius: 10px;
  background-color: black;
  border-color: black;
  color:white;
  font-weight: bold;
}

.section-1 {
  width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-between;
}

.section-1 div {
  display:flex;
  align-items: flex-start;
  flex-direction: column;
}

.section-1 div > span {
  font-size: 40px;
  font-weight: 800;
  text-align: left;
}

.section-1 .search {
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  position:relative;
}

.section-1-left {
  flex-grow: 1;
}

.section-1-right {
   flex-grow: 0.6;
}

.section-1 .search > input {
  border-radius: 30px;
  width:500px;
  height:50px;
  padding-left: 20px;
  border: 1px solid gray;
}
