.App {
  max-width:400px;
  margin: 0 auto;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color:black;
  color:white;
  height:40px;
}

.mt-10 {
  margin-top : 10px;
}

.mt-20 {
  margin-top : 20px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-8 {
	margin-top: 8px;
}

.mt-80 {
	margin-top: 80px;
}

.mb-40 {
margin-bottom: 40px;
}

.bg-gray {
  background: gray;
}

.bg-black {
  background: black;
}

.main-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  height:400px;  
}

.pl-20 {
  padding-left:20px;
}

.pr-20 {
  padding-right:20px;
}

.pt-20 {
  padding-top:20px;
}

.pt-40 {
  padding-top:40px;
}
.pb-40 {
  padding-bottom:40px;
}

.badge {
  display:flex;
  align-items: center;
  justify-content: space-around;
  border-radius:20px;
  border: 1px solid;
  height:40px;
}

.main-section-2 {
  text-align: left;
}

.main-section-2 .title {
  font-weight: 800;
  font-size: 18px;
}

.main-section-2 .description {
}

.main-section-3 {
	/* display:flex;
	justify-content: space-between; */
}
	

button {
  background-color: transparent;
  all: unset;
}

#header {
 padding: 20px;
 background-color: #161616;
 > button {
  color: white;
 }
}

.content-wrap {
  padding: 0 20px;
}

#event-section {
  padding: 50px 0;
}

#event-box {
  background-color: white;
  border-radius: 20px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 100%;
  height: 500px;
}

#event-title-wrap {
  text-align: center;
}

#event-store {
  color: #a0a0a0;
  font-size: 14px;
}

#event-product {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

#event-tag {
  width: 100px;
  padding: 8px 15px;
  color: #7e7e7e;
  border: 1px solid #7e7e7e;
  text-align: center;
  border-radius: 50px;
  margin: 0 auto;
}

#event-img-wrap {
  height: 242px;
  background-color: #d02a00;
  text-align: center;
}

#caution-section {
  padding: 20px;
  background-color: #161616;
}

#caution-title {
  font-size: 14px;
  color: white;
}

#caution-content {
  color: rgb(172, 172, 172);
  font-size: 12px;
  padding-top: 8px;
}

#info-section {
  padding: 20px;
  background-color: #161616;
}

.info-list-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.info-title {
  color: #787878;
  font-size: 14px;
}

.info-value {
  color: #a9a9a9;
  font-size: 14px;
  span {
    color: #255bd7
  }
}

#event-list-content {
  background-color: black;
  display:flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.product-info-card {
  /* &:nth-child(even) {
    margin-left: 10px;
  } */

  height: 300px;
  flex: 1 1 calc(50% - 5px);
  color:white;

  > div.product-thumbnail {
    border-radius: 10px;
    height: 200px;
    background-color:white;

    > img.product-thumbnail-img {
      width: 100%;
      height: 100%;  
    }
  }

  > div.product-name {
    padding: 5px;
  }

  > div.product-price {
    padding: 5px;
  }


}

.product-info-card:nth-child(2n) {
  margin-left: 5px;
}